Source: io.elementary.settings-daemon
Section: x11
Priority: optional
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               libaccountsservice-dev,
               libdbus-1-dev,
               libfwupd-dev,
               libgdk-pixbuf2.0-dev,
               libgexiv2-dev,
               libgranite-dev,
               libgeoclue-2-dev,
               libpackagekit-glib2-dev,
               meson,
               valac
Standards-Version: 4.1.1

Package: io.elementary.settings-daemon
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: fwupd
Description: Keep session settings in sync
 elementary Settings Daemon keeps settings in sync between session components
