[Desktop Entry]
Type=Application
Name=System Settings
Comment=System Settings background tasks
Exec=io.elementary.settings-daemon
Icon=io.elementary.settings
Terminal=false
Categories=System;Core;
NoDisplay=true
StartupNotify=true
X-GNOME-AutoRestart=true
X-GNOME-Autostart-Notify=true
X-GNOME-Autostart-Phase=Initialization
OnlyShowIn=Pantheon
